body,
h1,
h2,
h3,
p,
ul,
li {
    margin: 10;
    padding: 10;
}

body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.grid-container {
    display: grid;
}


/* Blog Header styles */

.blog-header {
    background-color: #007BFF;
    color: #fff;
    text-align: center;
    padding: 20px;
}


/* Author Info styles */

.author-info {
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: #f9f9f9;
}

.author-details {
    flex: 1;
}

.social-links {
    margin-top: 10px;
}

.social-link {
    text-decoration: none;
    margin-right: 10px;
    color: #007BFF;
}


/* Post Content styles */

.post-content {
    padding: 20px;
    line-height: 1.6;
}


/* Post Footer styles */

.post-footer {
    background-color: #f9f9f9;
    padding: 20px;
    text-align: center;
}


/* Media Query for responsiveness */

@media (max-width: 768px) {
    .author-info {
        flex-direction: column;
    }
    .author-avatar img {
        margin: 0 auto 10px auto;
    }
}

.post-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
    width: 50%;
    margin: 0;
}

.post-card img {
    width: 40%;
    height: auto;
    border-radius: 10px;
}

.post-card h2 {
    font-size: 24px;
    margin: 10px 0;
}

.post-card p {
    margin-bottom: 10px;
}


/* cities at bottom of blog post */

.city-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    padding: 40px;
}

.city-card {
    border: 1px solid #ddd;
    background-color: white;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
}

.city-card:hover {
    transform: translateY(-5px);
}

.city-image {
    max-width: 30%;
    height: auto;
}

.city-name {
    margin-top: 10px;
    font-weight: bold;
}

.city-description {
    margin-top: 5px;
    color: #555;
}